//* Standard CSS Sintax
// .header ul, .footer ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// .header ul li, .footer ul li {
//     display: inline-block;
// }

// .header ul li {

// }

// .footer ul li {

// }

//* Mixin
//? Simple Sintax
@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}

.header ul {
    @include inline-list();
    li {
        background-color: darkmagenta;
        padding: 0.5em;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.footer ul {
    @include inline-list();
    li {
        padding: 0.3em;
        background-color: coral;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

//? arguments pada mixin
@mixin flex-box($direction: row, $space: center) {
    display: flex;
    justify-content: $space;
    align-items: center;
    flex-direction: $direction;
}

.container {
    @include flex-box(row-reverse, space-evenly);
    width: 600px;
    height: 400px;
    background-color: lightgray;
    .box {
        width: 60px;
        height: 60px;
        background-color: lime;
        text-align: center;
        line-height: 60px;
    }
}